<!DOCTYPE html>
<html lang="ru">
<head>
    <base href="http://localhost:4000/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Copywriting</title>
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
    <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
    <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <header class="header webp">
    <div class="container">
        <div class="header__panel">
            <div class="header__logo logo">
                LOGO
            </div>
            <ul class="header__menu menu">
                <li class="menu__item">
                    <a href="#why" class="menu__link">Почему мы</a>
                </li>
                <li class="menu__item">
                    <a href="#lessons" class="menu__link">Программа курса</a>
                </li>
                <li class="menu__item">
                    <a href="#tariffs" class="menu__link">Тарифы</a>
                </li>
                <li class="menu__item">
                    <a href="#comments" class="menu__link">Отзывы</a>
                </li>
                <li class="menu__item">
                    <a href="#guarantees" class="menu__link">Гарантия</a>
                </li>
            </ul>
            <div class="header__phone phone">
                <a class="phone__link" href="tel:88001234538">
                    <small>8</small>
                    <span class="accent">(800)</span> 123 45 38
                </a>
            </div>
        </div>
        <div class="header__hero hero">
            <div class="hero__heading heading">
                <h1>
                    Хотите научиться писать
                    <span class="accent">продающие</span> тексты для сайтов
                    <small class="heading--small">за 3 недели?</small>
                </h1>
                <button class="button heading__button">Хочу научиться!</button>
            </div>
            <div class="hero__info">
                <p class="hero__info--heading">Простой пошаговый курс для тех, кто хочет писать тексты для</p>
                <ul class="hero__lists pens">
                    <li class="hero__list">Сайтов</li>
                    <li class="hero__list">Блогов</li>
                    <li class="hero__list">Лендингов</li>
                    <li class="hero__list">Видео на Ютуб</li>
                    <li class="hero__list">Постов в Инстаграм и других соцсетей</li>
                </ul>
                <div class="hero__info--footer">
                    <p>Мы работаем на ВАШИХ текстах, на ВАШИХ темах.<br>
                    Это практически <span class="accent">коучинг</span>, только в разы доступнее.</p>
                </div>
            </div>
        </div>
    </div>
</header>


    <section id="why" class="why">
    <div class="container">
        <div class="wrapper">
            <section class="idea">
                <h2>Как пришла идея создать тренинг?</h2>
                <p>На одном из мастер-классов меня вдруг стали спрашивать: «А тексты для бизнеса?» , «А на блоги как же
                   писать?»</p>
                <p>Владельцы малого и среднего бизнеса продвигают товары в интернете – через сайты, блоги, соцсети… И
                   продвигают - продают текстами и картинками! Острая потребность и спрос породили этот тренинг.</p>
                <p>Если вы не в силах написать текст сами, не спешите отдавать его фрилансеру. Вы напишете его сами уже
                   на третьем занятии или даже раньше!</p>
            </section>
            <section class="plan">
                <h2>О чем будем говорить более всего?</h2>
                <ul class="plan__lists pens">
                    <li>Как завоевать доверие клиента, и кто такой ваш клиент?</li>
                    <li>Секреты форматирования, редактирования и личной эффективности человека пишущего.</li>
                    <li>Как писать так, чтобы ваши слова звучали в голове читателя?</li>
                    <li>И примеры, примеры, примеры!..</li>
                </ul>
            </section>
        </div>
        <section class="whom">
            <h2>Кому необходим этот тренинг?</h2>
            <ul class="whom__lists pens">
                <li>Владельцам малого и среднего бизнеса (книжные магазины, фото,-видео салоны, магазины
                    специализированных товаров, игрушек, детские товары, бытовая и спецтехника и проч), инфобизнесменам
                    для повышения продаж их товаров
                </li>
                <li>Бизнес- тренерам, спикерам для написания речей, качественной интересной подачи материала,
                    тренингов
                </li>
                <li>Начинающим копирайтерам</li>
                <li>Журналистам, ибо каждый текст, созданный для людей, должен быть интересным</li>
                <li>PR- менеджерам, менеджерам по продажам, специалистам по связям с общественностью - для написания
                    великолепных пресс-релизов, коммерческих предложений, презентаций
                </li>
                <li>Всем, кто работает со словом, кто хочет писать ДЛЯ, а не параллельно.</li>
            </ul>
            <button class="button whom__button">Записаться на занятия</button>
        </section>
    </div>
</section>
    <section id="lessons" class="lessons">
    <div class="container">
        <h2>Программа курса</h2>
        <ul class="lessons__items accordion">
            <li class="lessons__item lesson">
                <div class="lesson__info">
                    <h3 class="lesson__title">Урок 1</h3>
                    <p class="lesson__description">Что такое копирайтинг. Ваша Сверхзадача и как ее решает текст.</p>
                </div>
                <div class="lesson__inner">
                    <picture class="lesson__picture">
                        <source class="lesson__source" srcset="img/course-1.webp" type="image/webp">
                        <img alt="Что такое копирайтинг. Ваша Сверхзадача и как ее решает текст." class="lesson__image"
                             src="img/course-1.jpg">
                    </picture>
                    <div class="lesson__content">
                        <p><strong>Результат 1:</strong></p>
                        <p>Определите свои проблемы в написании текстов</p>
                        <p><strong>Результат 2:</strong></p>
                        <p>Определите цели и задачи, которые решит навык написания текста</p>
                        <p>Работаем на ваших текстах - результат вы получаете сразу.</p>
                    </div>
                </div>
            </li>
            <li class="lessons__item lesson">
                <div class="lesson__info">
                    <h3 class="lesson__title">Урок 2</h3>
                    <p class="lesson__description">Анализ целевой аудитории. Знакомьтесь: я ваш клиент!</p>
                </div>
                <div class="lesson__inner">
                    <picture class="lesson__picture">
                        <source class="lesson__source" srcset="img/course-2.webp" type="image/webp">
                        <img alt="Анализ целевой аудитории. Знакомьтесь: я ваш клиент!" class="lesson__image"
                             src="img/course-2.jpg">
                    </picture>
                    <div class="lesson__content">
                        <p><strong>Игровое задание:</strong></p>
                        <p>21 вопрос клиенту по чек-листу. Покажем, как отследить поведение на сайте. Это не для
                           слабонервных!)</p>
                        <p><strong>Результат 1:</strong></p>
                        <p>Ваш клиент «поживет в вашей квартире», а вы «походите в его ботинках». Узнаете его лучше,
                           благодаря чек-листу</p>
                        <p><strong>Результат 2:</strong></p>
                        <p>Научитесь делать мониторинг- понимать, за чем к вам приходят люди на самом деле.</p>
                    </div>
                </div>
            </li>
            <li class="lessons__item lesson">
                <div class="lesson__info">
                    <h3 class="lesson__title">Урок 3</h3>
                    <p class="lesson__description">Ваша уникальность. УТП настоящее и ложное. Как конкуренты помогают
                                                   вам продать дороже? Для чего клиенту ваш товар, услуга? </p>
                </div>
                <div class="lesson__inner">
                    <picture class="lesson__picture">
                        <source class="lesson__source" srcset="img/course-3.webp" type="image/webp">
                        <img alt="Ваша уникальность. УТП настоящее и ложное. Как конкуренты помогают вам продать дороже? Для чего клиенту ваш товар, услуга?"
                             class="lesson__image"
                             src="img/course-3.jpg">
                    </picture>
                    <div class="lesson__content">
                        <p><strong>Результат:</strong>
                        <p>Найдете несколько своих настоящих УТП (а это окупит вам всё!).</p>
                        <p>Досконально изучите конкурентов и возьмете лучшее у себя самого.</p>
                    </div>
                </div>
            </li>
            <li class="lessons__item lesson">
                <div class="lesson__info">
                    <h3 class="lesson__title">Урок 4</h3>
                    <p class="lesson__description">Заголовки, подзаголовки, лиды. Секрет 30 заголовков сделает из вас
                                                   непобедимую машину.</p>
                </div>
                <div class="lesson__inner">
                    <picture class="lesson__picture">
                        <source class="lesson__source" srcset="img/course-4.webp" type="image/webp">
                        <img alt="Заголовки, подзаголовки, лиды. Секрет 30 заголовков сделает из вас непобедимую машину."
                             class="lesson__image"
                             src="img/course-4.jpg">
                    </picture>
                    <div class="lesson__content">
                        <p><strong>Результат:</strong></p>
                        <p>Научитесь генерировать кликабельные заголовки. Напишете минимум 5 для своего текста</p>
                    </div>
                </div>
            </li>
            <li class="lessons__item lesson">
                <div class="lesson__info">
                    <h3 class="lesson__title">Урок 5</h3>
                    <p class="lesson__description">Структура продающего текста в примерах. Практический разбор. Трех, -
                                                   четырех, пятичастность – что лучше работает в каждом отдельном
                                                   случае?</p>
                </div>
                <div class="lesson__inner">
                    <picture class="lesson__picture">
                        <source class="lesson__source" srcset="img/course-5.webp" type="image/webp">
                        <img alt="Структура продающего текста в примерах. Практический разбор. Трех, -четырех, пятичастность – что лучше работает в каждом отдельном случае?"
                             class="lesson__image"
                             src="img/course-5.jpg">
                    </picture>
                    <div class="lesson__content">
                        <p><strong>Результат:</strong></p>
                        <p>Поймете, что продающий текст состоит из фрагментов. Собираете свой пазл в текст.</p>
                        <p>Структурируем текст на примере вашего.</p>
                    </div>
                </div>
            </li>
            <li class="lessons__item lesson">
                <div class="lesson__info">
                    <h3 class="lesson__title">Урок 6</h3>
                    <p class="lesson__description">Ошибки НЕкопирайтеров, которые выдают с головой, и как их избежать:
                                                   «Копирайтер от Бога напишИт вам письмо»
                    </p>
                </div>
                <div class="lesson__inner">
                    <picture class="lesson__picture">
                        <source class="lesson__source" srcset="img/course-6.webp" type="image/webp">
                        <img alt="Ошибки НЕкопирайтеров, которые выдают с головой, и как их избежать: «Копирайтер от Бога напишИт вам письмо»"
                             class="lesson__image"
                             src="img/course-6.jpg">
                    </picture>
                    <div class="lesson__content">
                        <p><strong>Результат:</strong></p>
                        <p>Пишете без ошибок! Что резко поднимает вас в глазах клиента. К вам относятся как к серьезному
                           профессионалу, у которого не бывает мелких оплошностей.</p>
                    </div>
                </div>
            </li>
            <li class="lessons__item lesson">
                <div class="lesson__info">
                    <h3 class="lesson__title">Урок 7</h3>
                    <p class="lesson__description">Безумные отчаянные методы стимуляции себя – как писать, если не
                                                   пишется ВООБЩЕ?</p>
                </div>
                <div class="lesson__inner">
                    <picture class="lesson__picture">
                        <source class="lesson__source" srcset="img/course-7.webp" type="image/webp">
                        <img alt="Безумные отчаянные методы стимуляции себя – как писать, если не пишется ВООБЩЕ?"
                             class="lesson__image"
                             src="img/course-7.jpg">
                    </picture>
                    <div class="lesson__content">
                        <p><strong>Результат:</strong></p>
                        <p>Вы – 1 на 10000. У вас не бывает писательского затыка и боязни чистого листа.
                           Вдохновение приходит, когда вы захотите.</p>
                    </div>
                </div>
            </li>
            <li class="lessons__item lesson">
                <div class="lesson__info">
                    <h3 class="lesson__title">Урок 8</h3>
                    <p class="lesson__description">Продвинутые приемы редактуры. В каких случаях уместна редактура по
                                                   Главреду? Воскресите текст или убейте его!</p>
                </div>
                <div class="lesson__inner">
                    <picture class="lesson__picture">
                        <source class="lesson__source" srcset="img/course-8.webp" type="image/webp">
                        <img alt="Продвинутые приемы редактуры. В каких случаях уместна редактура по Главреду? Воскресите текст или убейте его!"
                             class="lesson__image"
                             src="img/course-8.jpg">
                    </picture>
                    <div class="lesson__content">
                        <p><strong>Результат:</strong></p>
                        <p>Вы узнаете и примените на своих текстах продвинутые приемы редактуры от Стивена Кинга, Джо
                           Витале и Граведа.</p>
                        <p>Смотрите «глазами клиента» на свой товар/услугу</p>
                    </div>
                </div>
            </li>
            <li class="lessons__item lesson">
                <div class="lesson__info">
                    <h3 class="lesson__title">Урок 9</h3>
                    <p class="lesson__description">Жанровые особенности. Даст возможность жонглировать жанрами и
                                                   использовать каждый из них как джокер</p>
                </div>
                <div class="lesson__inner">
                    <picture class="lesson__picture">
                        <source class="lesson__source" srcset="img/course-9.webp" type="image/webp">
                        <img alt="Жанровые особенности. Даст возможность жонглировать жанрами и использовать каждый из них как джокер"
                             class="lesson__image"
                             src="img/course-9.jpg">
                    </picture>
                    <div class="lesson__content">
                        <p><strong>Результат:</strong></p>
                        <p>Вы приручите таких "зверей" как очерк, эссе, рассказ, новелла, интервью и другие формы
                           изложения материала.</p>
                        <p>Сможете написать самостоятельно любое из них.</p>
                    </div>
                </div>
            </li>
            <li class="lessons__item lesson">
                <div class="lesson__info">
                    <h3 class="lesson__title">Урок 10</h3>
                    <p class="lesson__description">Цена и ценность. Разбиваем цену. Сравниваем, показываем ценность</p>
                </div>
                <div class="lesson__inner">
                    <picture class="lesson__picture">
                        <source class="lesson__source" srcset="img/course-10.webp" type="image/webp">
                        <img alt="Цена и ценность. Разбиваем цену. Сравниваем, показываем ценность"
                             class="lesson__image"
                             src="img/course-10.jpg">
                    </picture>
                    <div class="lesson__content">
                        <p><strong>Результат:</strong>
                        <p>Показываете ценность, и цена становится второстепенной. Уменьшаете цену до микро-размера без
                           лжи и ущерба для своего кошелька</p>
                    </div>
                </div>
            </li>
            <li class="lessons__item lesson">
                <div class="lesson__info">
                    <h3 class="lesson__title">Урок 11</h3>
                    <p class="lesson__description">Востребованный LSI-копирайтинг, SEO. Сторителлинг от Гэри
                                                   Хэлберта.</p>
                </div>
                <div class="lesson__inner">
                    <picture class="lesson__picture">
                        <source class="lesson__source" srcset="img/course-11.webp" type="image/webp">
                        <img alt="Востребованный LSI-копирайтинг, SEO. Сторителлинг от Гэри Хэлберта."
                             class="lesson__image"
                             src="img/course-11.jpg">
                    </picture>
                    <div class="lesson__content">
                        <p><strong>Результат 1:</strong></p>
                        <p>У вас несколько личных историй, продающих то, что вы хотите.</p>
                        <p>Ваши тексты релевантны запросам клиентов</p>
                        <p><strong>Результат 2:</strong></p>
                        <p>Вы как личность вызываете доверие. Ваши тексты шепчут клиентам: я такой же, как ты!</p>
                    </div>
                </div>
            </li>
            <li class="lessons__item lesson">
                <div class="lesson__info">
                    <h3 class="lesson__title">Урок 12</h3>
                    <p class="lesson__description">Добавить в курс: метафоры, средства выразительности речи</p>
                </div>
                <div class="lesson__inner">
                    <picture class="lesson__picture">
                        <source class="lesson__source" srcset="img/course-12.webp" type="image/webp">
                        <img alt="Добавить в курс: метафоры , средства выразительности речи"
                             class="lesson__image"
                             src="img/course-12.jpg">
                    </picture>
                    <div class="lesson__content">
                        <p><strong>БОНУС!</strong></p>
                        <p><strong>Приглашенный эксперт!</strong></p>
                        <p>Мастер-класс по ведению бизнеса в соцсетях или семинар по нейромаркетингу.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <button class="button lessons__button">Оформить заявку</button>
</section>
    <section class="skills">
    <div class="container">
        <h2>Что получаете во время курса и после него?</h2>
        <div class="skills__items">
            <div class="skills__item skill">
                <svg class="skill__image">
                    <use xlink:href="img/sprites/sprite.svg#development-skills"></use>
                </svg>
                <h3 class="skill__title">Незаменимые навыки:</h3>
                <div class="skill__description">
                    <ul class="skill__lists pens">
                        <li>написания статей, продающих и других форматов текстов, нужных именно вам</li>
                        <li>работы с соцсетями, в том числе,в том числе Инстаграм</li>
                    </ul>
                </div>
            </div>
            <div class="skills__item skill">
                <svg class="skill__image">
                    <use xlink:href="img/sprites/sprite.svg#ball-point-pen"></use>
                </svg>
                <h3 class="skill__title">Для копирайтеров:</h3>
                <div class="skill__description">
                    <ul class="skill__lists pens">
                        <li>минимум 3 новые статьи в портфолио;</li>
                        <li>возможность практики в реальных проектах</li>
                    </ul>
                </div>
            </div>
            <div class="skills__item skill">
                <svg class="skill__image">
                    <use xlink:href="img/sprites/sprite.svg#bag"></use>
                </svg>
                <h3 class="skill__title">Владельцы бизнеса и онлайн-тренеры:</h3>
                <div class="skill__description">
                    <ul class="skill__lists pens">
                        <li>3 и более текстов, написанных собственноручно и проверенных нами.</li>
                    </ul>
                    <p>Они уже работают на вас - зарабатывают вам деньги или репутацию!</p>
                </div>
            </div>
            <div class="skills__item skill">
                <svg class="skill__image">
                    <use xlink:href="img/sprites/sprite.svg#calendar-plus"></use>
                </svg>
                <h3 class="skill__title">Работающий контент - план на 18 касаний с клиентом.</h3>
                <div class="skill__description">
                    <p>Обычно это видео в записи, и именно из-за отсутствия тренера рядом многие перестают заниматься. А
                       здесь "я держу тебя за руку" в прямом эфире!</p>
                </div>
            </div>
            <div class="skills__item skill">
                <svg class="skill__image">
                    <use xlink:href="img/sprites/sprite.svg#group"></use>
                </svg>
                <h3 class="skill__title">Живые занятия</h3>
                <div class="skill__description">
                    <p>с возможностью включаться в процесс и задавать вопросы сразу. Записи занятий, если вы не попали
                       на них.</p>
                </div>
            </div>
            <div class="skills__item skill">
                <svg class="skill__image">
                    <use xlink:href="img/sprites/sprite.svg#question"></use>
                </svg>
                <h3 class="skill__title">Узнаете больше</h3>
                <div class="skill__description">
                    <p>о своей аудитории и получаете отклик.</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <section id="guarantees" class="guarantees">
    <div class="container">
        <h2>Гарантия возврата денег</h2>
        <p>Вернуть деньги вы можете в течение <strong>14 дней</strong> после начала прохождения курса. Потом возврат
           невозможен.</p>
        <p>Если приобретаете <b>Супергерой</b> или <b>Вип</b>, то оплата возвращается с учётом стоимости бонусов, так вы
           их получаете
           сразу. </p>
    </div>
</section>
    <section id="tariffs" class="tariffs">
    <div class="container">
        <h2>Тарифы</h2>
        <ul class="tariffs__items">
            <li class="tariffs__item tariff">
                <h3 class="tariff__title">Профи</h3>
                <p class="tariff__price">9 900 рублей</p>
                <div class="tariff__content">
                    <ul class="tariff__items pens">
                        <li>10 уроков</li>
                        <li>проверка домашних заданий</li>
                        <li>возможность работать на реальных проектах</li>
                    </ul>
                </div>
                <button class="tariff__button button">Оплатить</button>
            </li>
            <li class="tariffs__item tariff">
                <h3 class="tariff__title tariff__title--yellow">СуперГерой</h3>
                <p class="tariff__price">13 500 рублей</p>
                <div class="tariff__content">
                    <ul class="tariff__items pens">
                        <li>12 уроков</li>
                        <li>Проверка домашних заданий. Стоимость отдельно - 6 000 рублей</li>
                        <li>семинар по соцсетям или нейромаркетингу. Стоимость отдельно - 4 000 рублей</li>
                        <li>возможность работать на реальных проектах - бесценно</li>
                    </ul>
                    <p class="text-center"><b>Бонусы</b> для вас - <b>в подарок!</b></p>
                </div>
                <button class="tariff__button button">Оплатить</button>
            </li>
            <li class="tariffs__item tariff">
                <h3 class="tariff__title tariff__title--red">VIP</h3>
                <p class="tariff__price">17 900 рублей</p>
                <div class="tariff__content">
                    <ul class="tariff__items pens">
                        <li>Все, что включает пакет СуперГерой + бонусы</li>
                        <li>Аудит проекта. Стоимость отдельно - 2 000 рублей</li>
                        <li>Настройка цепочки писем Senler. Стоимость отдельно - 4 000 рублей</li>
                        <li><strong>Личная консультация.</strong> 2 онлайн - сессии. Стоимость отдельно - 8 000 рублей
                        </li>
                    </ul>
                    <p class="text-center"><b>Бонусы</b> для вас - <b>в подарок!</b></p>
                </div>
                <button class="tariff__button button">Оплатить</button>
            </li>
        </ul>
    </div>
</section>
    <section class="attention">
    <div class="container">
        <h2>Внимание!</h2>
        <p>Вы можете докупить каждый блок по отдельности. Необязательно покупать VIP, если вам нужны только проверки ДЗ,
           при этом не нужна консультация. Вы можете купить отдельно настройку Senler, консультацию, бонусы вместе с
           любым пакетом.</p>
        <h3>Новинка! Для тех, кто в Москве!</h3>
        <p>Офлайн - курс и очные встречи. Записывайтесь на встречу и офлайн - консультации по электронной почте.</p>
        <p><b>Формат личного общения:</b></p>
        <p>Вы пишете вопросы или предмет разбора. Я отвечаю, назначаем место и время встречи. Возможна как предоплата,
           так и постоплата. </p>
    </div>
</section>
    <section class="benefits">
    <div class="container">
        <h2>Почему именно наш курс?</h2>
        <div class="benefits__items">
            <div class="benefits__item benefit">
                <picture class="benefit__picture">
                    <source class="benefit__source" srcset="img/why-1.webp" type="image/webp">
                    <img alt="Работа с реальными проектами" class="benefit__image"
                         src="img/why-1.jpg">
                </picture>
                <h3 class="benefit__title">Работа с реальными проектами</h3>
                <div class="benefit__inner">
                    <p><b>Вы получаете:</b></p>
                    <ul class="benefit__items pens">
                        <li>Или готовое портфолио, опыт общения с заказчиками, деньги, практику, повышение уровня и
                            вообще другую жизнь
                        </li>
                        <li>Или продающие тексты для своего ресурса, которые работают на вас 24/7.</li>
                    </ul>
                </div>
            </div>
            <div class="benefits__item benefit">
                <picture class="benefit__picture">
                    <source class="benefit__source" srcset="img/why-2.webp" type="image/webp">
                    <img alt="Доступные варианты обучения" class="benefit__image"
                         src="img/why-2.jpg">
                </picture>
                <h3 class="benefit__title">Доступные варианты обучения</h3>
                <div class="benefit__inner">
                    <p>Вы можете докупить каждый блок по отдельности. </p>
                </div>
            </div>
            <div class="benefits__item benefit">
                <picture class="benefit__picture">
                    <source class="benefit__source" srcset="img/why-3.webp" type="image/webp">
                    <img alt="Профессиональные тренеры" class="benefit__image"
                         src="img/why-3.jpg">
                </picture>
                <h3 class="benefit__title">Профессиональные тренеры</h3>
                <div class="benefit__inner">
                    <ul class="benefit__items pens">
                        <li>Книга "Копирайтинг. Тексты, которые продаются"</li>
                        <li>внушительный опыт на бирже и проектах</li>
                        <li>профильное образование</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="trainer">
    <div class="container">
        <h2>Тренер курса</h2>
        <div class="trainer__content">
            <picture class="trainer__picture">
                <source class="trainer__source" srcset="img/trainer.webp" type="image/webp">
                <img alt="Работа с реальными проектами" class="trainer__image"
                     src="img/trainer.jpg">
            </picture>
            <div class="trainer__description description">
                <div class="description__inner">
                    <p>По образованию я филолог. Работала около 10 лет в журналистике («Комсомольская правда»,
                       «Московский комсомолец», «Московская газета», федеральные СМИ, авторская передача на ТВ ).</p>
                    <p>Писала и пишу романы, рассказы, новеллы. Роман «Жертва для Локи» вошел в лонг-лист независимой
                       литературной премии «Дебют». Автор курсов для пишущих людей.</p>
                    <p>Автор книги «Копирайтинг. Тексты, которые продаются» (2012 г.). Через год она была переиздана –
                       предыдущий тираж был раскуплен.</p>
                    <p>Автор двух курсов для текстовиков и писателей.</p>
                    <p>С сентября по июль 2014 года была штатным редактором издательства «Эксмо». Открывала серию по
                       бизнесу.</p>
                    <p>Сегодня в качестве райтера и коуча работаю над проектами по написанию текстов для сайтов, блогов,
                       книг.</p>
                    <p>Занимаюсь e-mail-маркетингом известных тренингов по психологии.</p>
                </div>
            </div>
        </div>
    </div>
</section>
    <section id="comments" class="comments">
    <div class="container">
        <h2>Что о нас говорят</h2>
        <div class="comments__items comments__carousel">
            <div class="comments__item comment">
                <div class="comment__description">
                    <p>Потрясающий курс! Все структурировано,ничего лишнего, все просто и понятно.Уже после первого
                       видео
                       начинает в голове складываться образ книги, путь к ней. Очень вдохновляюще! А преподаватель
                       великолепно подает материал...</p>
                </div>
                <p class="comment__author">Анна Ковала</p>
            </div>
            <div class="comments__item comment">
                <div class="comment__description">
                    <p>Больше всего, что меня поразило на этом писательском тренинге у Зарины, это то, что она является
                       лучшим из каких только когда-нибудь, носителем, защитником, и практиком мировой культуры и
                       культуры
                       в целом в мышлении, языке...</p>
                </div>
                <p class="comment__author">Инна Вяльцева</p>
            </div>
            <div class="comments__item comment">
                <div class="comment__description">
                    <p>Зарина! Спасибо за "Золотое слово", "Миссию Героя" - это уникальный урок
                       мастерства.</p>
                    <p>Я реально увидел слабые места своих текстов и теперь "вооружен" новым
                       знанием...</p>
                </div>
                <p class="comment__author">Александр Пасхалов</p>
            </div>

            <div class="comments__item comment">
                <div class="comment__description">
                    <p>Потрясающий курс! Все структурировано,ничего лишнего, все просто и понятно.Уже после первого
                       видео
                       начинает в голове складываться образ книги, путь к ней. Очень вдохновляюще! А преподаватель
                       великолепно подает материал...</p>
                </div>
                <p class="comment__author">Анна Ковала</p>
            </div>
            <div class="comments__item comment">
                <div class="comment__description">
                    <p>Больше всего, что меня поразило на этом писательском тренинге у Зарины, это то, что она является
                       лучшим из каких только когда-нибудь, носителем, защитником, и практиком мировой культуры и
                       культуры
                       в целом в мышлении, языке...</p>
                </div>
                <p class="comment__author">Инна Вяльцева</p>
            </div>
            <div class="comments__item comment">
                <div class="comment__description">
                    <p>Зарина! Спасибо за "Золотое слово", "Миссию Героя" - это уникальный урок
                       мастерства.</p>
                    <p>Я реально увидел слабые места своих текстов и теперь "вооружен" новым
                       знанием...</p>
                </div>
                <p class="comment__author">Александр Пасхалов</p>
            </div>
        </div>
    </div>
</section>
    <section class="actions">
    <div class="container">
        <div class="actions__wrapper">
            <h2>Что вы получаете навсегда?</h2>
            <div class="actions__items">
                <div class="actions__item action">
                    <svg class="action__image">
                        <use xlink:href="img/sprites/sprite.svg#rich"></use>
                    </svg>
                    <p class="action__title">Повышаете уровень дохода - через слово.</p>
                </div>
                <div class="actions__item action">
                    <svg class="action__image">
                        <use xlink:href="img/sprites/sprite.svg#strength"></use>
                    </svg>
                    <p class="action__title">Прокачиваете личный бренд.</p>
                </div>
                <div class="actions__item action">
                    <svg class="action__image">
                        <use xlink:href="img/sprites/sprite.svg#meditation"></use>
                    </svg>
                    <p class="action__title">Релакс-практика</p>
                </div>
                <div class="actions__item action">
                    <svg class="action__image">
                        <use xlink:href="img/sprites/sprite.svg#two-blank-documents"></use>
                    </svg>
                    <p class="action__title">Снимаете страх чистого листа - раз и навсегда</p>
                </div>
            </div>
            <button class="actions__button button">Начать действовать!</button>
        </div>
    </div>
</section>
    <section class="works">
    <div class="container">
        <h2>Наши работы</h2>
        <div class="works__items works__carousel">
            <div class="works__item work">
                <picture class="work__picture">
                    <source class="work__source" srcset="img/works-1.webp" type="image/webp">
                    <img alt="Интервью со Светланой Феодуловой" class="work__image" src="img/works-1.jpg">
                </picture>
                <h3 class="work__title">Интервью со Светланой Феодуловой</h3>
                <p class="work__description">Голос участницы шоу "Голос" занесен в Книгу рекордов Гиннесса как самый
                                             высокий в мире</p>
            </div>
            <div class="works__item work">
                <picture class="work__picture">
                    <source class="work__source" srcset="img/works-2.webp" type="image/webp">
                    <img alt="Временный текст" class="work__image" src="img/works-2.jpg">
                </picture>
                <h3 class="work__title">Временный текст</h3>
                <p class="work__description">Временный текст здесь ненадолго для того, чтобы заполнить место. Это просто
                                             образец того, как текст будет выглядеть на вашем сайте, в нём нет
                                             смысла.</p>
            </div>
            <div class="works__item work">
                <picture class="work__picture">
                    <source class="work__source" srcset="img/works-3.webp" type="image/webp">
                    <img alt="Временный текст" class="work__image" src="img/works-3.jpg">
                </picture>
                <h3 class="work__title">Временный текст</h3>
                <p class="work__description">Временный текст здесь ненадолго для того, чтобы заполнить место. Это просто
                                             образец того, как текст будет выглядеть на вашем сайте.</p>
            </div>
            <div class="works__item work">
                <picture class="work__picture">
                    <source class="work__source" srcset="img/works-4.webp" type="image/webp">
                    <img alt="Временный текст" class="work__image" src="img/works-4.jpg">
                </picture>
                <h3 class="work__title">Временный текст</h3>
                <p class="work__description">Временный текст здесь ненадолго для того, чтобы заполнить место.Это просто
                                             образец того, как текст будет выглядеть на вашем сайте, в нём нет
                                             смысла.</p>
            </div>

            <div class="works__item work">
                <picture class="work__picture">
                    <source class="work__source" srcset="img/works-1.webp" type="image/webp">
                    <img alt="Интервью со Светланой Феодуловой" class="work__image" src="img/works-1.jpg">
                </picture>
                <h3 class="work__title">Интервью со Светланой Феодуловой</h3>
                <p class="work__description">Голос участницы шоу "Голос" занесен в Книгу рекордов Гиннесса как самый
                                             высокий в мире</p>
            </div>
            <div class="works__item work">
                <picture class="work__picture">
                    <source class="work__source" srcset="img/works-2.webp" type="image/webp">
                    <img alt="Временный текст" class="work__image" src="img/works-2.jpg">
                </picture>
                <h3 class="work__title">Временный текст</h3>
                <p class="work__description">Временный текст здесь ненадолго для того, чтобы заполнить место. Это просто
                                             образец того, как текст будет выглядеть на вашем сайте, в нём нет
                                             смысла.</p>
            </div>
            <div class="works__item work">
                <picture class="work__picture">
                    <source class="work__source" srcset="img/works-3.webp" type="image/webp">
                    <img alt="Временный текст" class="work__image" src="img/works-3.jpg">
                </picture>
                <h3 class="work__title">Временный текст</h3>
                <p class="work__description">Временный текст здесь ненадолго для того, чтобы заполнить место. Это просто
                                             образец того, как текст будет выглядеть на вашем сайте.</p>
            </div>
            <div class="works__item work">
                <picture class="work__picture">
                    <source class="work__source" srcset="img/works-4.webp" type="image/webp">
                    <img alt="Временный текст" class="work__image" src="img/works-4.jpg">
                </picture>
                <h3 class="work__title">Временный текст</h3>
                <p class="work__description">Временный текст здесь ненадолго для того, чтобы заполнить место.Это просто
                                             образец того, как текст будет выглядеть на вашем сайте, в нём нет
                                             смысла.</p>
            </div>
        </div>
    </div>
</section>
    <section class="doubts">
    <div class="container">
        <h2>Все ещё сомневаетесь?</h2>
        <div class="doubts__items">
            <div class="doubts__item doubt">
                <div class="doubt__position">1</div>
                <div class="doubt__description">
                    Тогда возьмите этот <a href="#">чек-лист</a> и начните его проходить самостоятельно.
                </div>
            </div>
            <div class="doubts__item doubt">
                <div class="doubt__position">2</div>
                <div class="doubt__description">
                    Вступайте в нашу группу в Instagram <a href="#">#pishempro</a>, во <a href="#">ВКонтакте</a> и
                    задавайте вопросы
                </div>
            </div>
            <div class="doubts__item doubt">
                <div class="doubt__position">3</div>
                <div class="doubt__description">
                    Записывайтесь на бесплатный вебинар или встречу
                </div>
            </div>
            <div class="doubts__item doubt">
                <div class="doubt__position">4</div>
                <div class="doubt__description">
                    Посмотрите ниже видео фрагмента одного из занятий
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="socials">
    <div class="container">
        <h2>Задайте нам вопросы в соцсетях</h2>
        <div class="socials__items">
            <a class="social__link" href="https://facebook.com/">
                <svg class="social__item">
                    <use xlink:href="img/sprites/sprite.svg#facebook"></use>
                </svg>
            </a>
            <a class="social__link" href="https://vk.com/">
                <svg class="social__item">
                    <use xlink:href="img/sprites/sprite.svg#vk"></use>
                </svg>
            </a>
            <a class="social__link" href="https://youtube.com/">
                <svg class="social__item">
                    <use xlink:href="img/sprites/sprite.svg#youtube"></use>
                </svg>
            </a>
            <a class="social__link" href="https://www.instagram.com/pishempro/">
                <svg class="social__item">
                    <use xlink:href="img/sprites/sprite.svg#instagram"></use>
                </svg>
            </a>
        </div>
    </div>
</section>
    <footer class="footer">
    <div class="container">
        <p class="footer__info">2019 @ Все права защищены  |  <a href="#" class="footer__link">Pishem.pro</a></p>
    </div>
    <button class="to-top">↑</button>
</footer>
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>